<%= form_for :kontak, url: data_kontak_index_path do |f| %>
  <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <h2>Kontak Baru</h2>
        <form>
          <%= f.text_field :nama, placeholder: "Nama" %>
          <%= f.text_field :no_telp, placeholder: "No Telepon" %>
          <%= f.text_field :alamat, placeholder: "Alamat" %>
          <%= f.email_field :almt_email, placeholder: "Email" %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "Simpan", class: 'login loginmodal-submit' %>
        </form>
      </div>
    </div>
  </div>
<% end %>
