<div class="container">
  <h1><%= current_user.email %></h1>
  <table class="table -table-hover">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Alamat</th>
        <th>No Telepon</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @kontaks.each do |kontak| %>
      <tr>
        <td><%= kontak.nama %></td>
        <td><%= kontak.alamat %></td>
        <td><%= kontak.no_telp %></td>
        <td><%= kontak.almt_email %></td>
        <td><%= link_to 'Edit', edit_data_kontak_path(kontak), remote: true %>
        <%= link_to 'Hapus', data_kontak_path(kontak), method: :delete,
        data: { confirm: 'Apakah Anda Yakin?'} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
