<%= form_for :kontak, url: data_kontak_index_path do |f| %>

  <div class="container">
    <h2>Kontak Baru</h2>
    <div class="form-group">
      <p>
        <%= f.text_field :nama, placeholder: "Nama", class: 'form-control' %>
      </p>

      <p>
        <%= f.text_field :no_telp, placeholder: "No Telepon", class: 'form-control' %>
      </p>

      <p>
        <%= f.text_field :alamat, placeholder: "Alamat", class: 'form-control' %>
      </p>

      <p>
        <%= f.email_field :almt_email, placeholder: "Email", class: 'form-control' %>
      </p>

      <p>
        <%= f.submit "Simpan", class: 'btn btn-default' %>
      </p>
    </div>
  </div>
<% end %>
